<%- include(root + '/views/header') -%>
<main>
  <div class="recordings">
    <!-- Here comes the available recordings -->
    <div class="row">
      <% for(var i=0; i<recordings.length; i++) { %>
      <div class="col-4">
        <a class="card_href" href="/recordings/<%= recordings[i].id %>">
          <div class="card">
            <h3 class="card_title"><%= recordings[i].experiment.fileName %></h3>
            <p class="card_text">Name: <%= recordings[i].experiment.name %></p>
            <p class="card_text">Type: <%= recordings[i].experiment.type %></p>
            <p class="card_text">Duration: <%= recordings[i].experiment.duration %></p>
            <p class="card_text">Date: <%= recordings[i].experiment.startTime %></p>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</main>
<%- include(root + '/views/footer') -%>
