<%- include(root + '/views/header') -%>
<main>
  <div class="recording">
    <div class="row">
      <h2><%= recording.experiment.name %></h2>
      <div class="col-12">
        <p>Type: <%= recording.experiment.type %></p>
        <p>File: <%= recording.experiment.fileName %></p>
        <p>Duration: <%= recording.experiment.duration %></p>
        <p>Start: <%= recording.experiment.startTime %></p>
        <p>End: <%= recording.experiment.endTime %></p>
      </div>
      <div class="col-12">
        <% for(var i=0; i<recording.treadmill.measurements.length; i++) { %>
          <div>
            Data point <%= i %>:
          </div>
          <div class="ms-3">
            Time stamp: <%= recording.treadmill.measurements[i].time %>
          </div>
          <div class="ms-3">
            Speed: <%= recording.treadmill.measurements[i].speed %>km/h
          </div>
          <div class="ms-3 mb-3">
            Incline: <%= recording.treadmill.measurements[i].incline %>%
          </div>
        <% } %>
      </div>
      <div class="col-6">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-6">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
  </div>
  <a href="/recordings" class="btn btn-secondary mt-5">Back</a>
</main>

<!-- Include all scripts needed -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="<% root %>/static/js/charts.js"></script>
<%- include(root + '/views/footer') -%>
